.header {
  padding: 10px; /* some padding */
}

* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 20%; /* Set the width of the sidebar */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 80%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
}
